<div class="home_contact">
    <div class="home_container_contact">
        <div class="home_background_contact" style="background-image:url(<%= asset_path 'images/contact.jpg'%>)"></div>
        <div class="home_content_container_contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content_contact">
                            <div class="breadcrumbs_contact">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li>Modèles</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->

<div class="contact">
    <div class="container">
        <div class="row">
            <!-- Inscription -->
            <div class="col-lg-8 contact_col">
                <div class="get_in_touch">
                    <div class="section_title">Modifier un modèle</div>
                    <div class="contact_form_container">
                        <%= form_for @model, url: {action: "update"} do |f| %>
                        <div class="row">
                            <div class="col-xl-6 select_category">
                                <!-- Brand selection -->
                                <%= f.label :phone_brand_id, "Marque" %><br />
                                <div class="select_category_container">
                                    <%= f.collection_select :phone_brand_id, PhoneBrand.order(:brand), :id, :brand, include_blank: true %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- Name -->
                                <label for="contact_name">Nom du modèle</label>
                                <%= f.text_field :model, class: "contact_input" %>
                            </div>
                            <div class="col-xl-12 last_name_col">
                                <span>
                                    <%= f.label "Image de la marque" %><br />
                                </span>
                                <%= f.file_field :model_picture %>
                            </div>
                        </div>
                        <button class="newsletter_button trans_200">
                            <%= f.submit "Modifier" %>
                        </button>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Infos -->
</div>
