<h2>Edit
  <%= resource_name.to_s.humanize %>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<!-- User Personnal Info-->
<div class="field">
  <%= f.label :Prénom %><br />
  <%= f.text_field :first_name, autocomplete: "Prénom" %>
</div>

<div class="field">
  <%= f.label :Nom %><br />
  <%= f.text_field :last_name, autocomplete: "Nom" %>
</div>

<div class="field">
  <%= f.label :Date_de_naissance %><br />
  <%= f.date_field :birthdate, autocomplete: "Date de naissance" %>
</div>

<!-- Address -->

<div class="field">
  <%= f.label :Numéro_de_rue %><br />
  <%= f.text_field :street_number, autocomplete: "Numéro" %>
</div>

<div class="field">
  <%= f.label :Rue %><br />
  <%= f.text_field :street_name, autocomplete: "Rue" %>
</div>

<div class="field">
  <%= f.label :Informations_complémentaires %><br />
  <%= f.text_field :street_name2, autocomplete: "" %>
</div>

<div class="field">
  <%= f.label :Code_postal %><br />
  <%= f.text_field :zip_code, autocomplete: "Code postal" %>
</div>

<div class="field">
  <%= f.label :Ville %><br />
  <%= f.text_field :city, autocomplete: "Ville" %>
</div>

<!-- Email & Pass -->

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for:
  <%= resource.unconfirmed_email %>
</div>
<% end %>

<div class="field">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "new-password" %>
  <% if @minimum_password_length %>
  <br />
  <em>
    <%= @minimum_password_length %> characters minimum</em>
  <% end %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password" %>
</div>

<div class="actions">
  <%= f.submit "Mettre à jour" %>
</div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>
  <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete %>
</p>

<%= link_to "Retour", :back %>
