<!-- Home -->

<div class="home_cart">
    <div class="home_container">
        <div class="home_background" style="background-image:url(<%= asset_path 'images/cart.jpg' %>)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/admin">Admin Board</a></li>
                                    <li>Liste des produits</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cart Info -->

<div class="admin_info">
    <div class="container">
        <div class="row cart_items_row">
            <div class="col">
                <div class="row">
                    <div class="admin_options">
                        <h2>Liste des utilisateurs</h2>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Ville</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                            <tr>
                                <td>
                                    <a href='mailto:<%=user.email%>'>
                                        <%= user.first_name %></a>
                                </td>
                                <td>
                                    <%= user.last_name %>
                                </td>
                                <td>
                                    <%= user.city %>
                                </td>
                                <td>
                                    <%= user.status %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
