	<!-- Home -->

	<div class="home_contact">
	    <div class="home_container_contact">
	        <div class="home_background_contact" style="background-image:url(<%= asset_path 'images/cart.jpg' %>)"></div>
	        <div class="home_content_container_contact">
	            <div class="container">
	                <div class="row">
	                    <div class="col">
	                        <div class="home_content_contact">
	                            <div class="breadcrumbs_contact">
	                                <ul>
	                                    <li><a href="/">Home</a></li>
	                                    <li>Panier</li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- Cart Info -->

	<div class="cart_info">
	    <div class="container">
	        <div class="row">
	            <div class="col">
	                <!-- Column Titles -->
	                <div class="cart_info_columns clearfix">
	                </div>
	            </div>
	        </div>
	                <!-- Cart Item -->
	                <%= render(@cart.line_items) %>
	        <div class="row row_cart_buttons">

	                <div class="cart_buttons row">
	                    <div class="button cart_button col-sm-5">
                                <%= link_to "Continuer le shopping", products_path %>
	                    </div>
						<div class="col-sm-1"></div>
	                        <div class="button cart_button col-sm-5">
                                <span>
                                    <%= link_to "Vider le panier", @cart, method: :delete, date: {confirm: "Êtes-vous sûr ?"} %>
                                </span>
                            </div>

	                </div>

	        </div>
	        <div class="row row_extra">
	            <div class="col-lg-4">

	                <!-- Coupon Code -->
	                <div class="coupon">
	                    <div class="section_title">Code de réduction</div>
	                    <div class="section_subtitle">Entrez votre code de réduction</div>
	                    <div class="coupon_form_container">
	                        <form action="#" id="coupon_form" class="coupon_form">
	                            <input type="text" class="coupon_input" required="required">
	                            <button class="button coupon_button"><span>Apply</span></button>
	                        </form>
	                    </div>
	                </div>
	            </div>

	            <div class="col-lg-6 offset-lg-2">
	                <div class="cart_total">
	                    <div class="section_title">Total du panier</div>
	                    <div class="section_subtitle">Infos</div>
	                    <div class="cart_total_container">
	                        <ul>
	                            <li class="d-flex flex-row align-items-center justify-content-start">
	                                <div class="cart_total_title">Sous-total</div>
	                                <div class="cart_total_value ml-auto" id="sub_total_price">
	                                	<%= number_to_currency(@cart.sub_total_price) %></div>
	                            </li>
	                            <li class="d-flex flex-row align-items-center justify-content-start">
	                                <div class="cart_total_title">Livraison</div>
	                                <div class="cart_total_value ml-auto" id="delivery_form">
										<%= form_for(@cart, url: {action: "update_delivery"}, :remote => true) do |f| %>
											<%= f.hidden_field :id, :value => @cart.id %>
											<%= f.collection_select :delivery_id, Delivery.all, :id, :name_and_price, {}, {:onchange=>"select_delivery();"} %>
										<% end %>
									</div>
	                            </li>
	                            <li class="d-flex flex-row align-items-center justify-content-start">
	                                <div class="cart_total_title">Total</div>
	                                <div class="cart_total_value ml-auto" id="total_price">
										<%= number_to_currency(@cart.total_price) %>
	                                </div>
	                            </li>
	                        </ul>
						</div>
						<div class="cart_payment">
							<div class="button cart_button checkout_button">
								<%= link_to "Procéder au paiement", resume_path(id: @cart.id) %>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>