<!-- Home -->
<div class="home_contact">
    <div class="home_container_contact">
        <div class="home_background_contact" style="background-image:url(<%= asset_path 'images/contact.jpg'%>)"></div>
        <div class="home_content_container_contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content_contact">
                            <div class="breadcrumbs_contact">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><%= @category.category_name %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <% if @products_by_category.length > 1 %>
                    <div class="results"><span>
                        <%= @products_by_category.length %></span> résultats</div>
                    <% else %>
                    <div class="results"><span>
                        <%= @products_by_category.length %></span> résultat</div>
                    <% end %>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Filtrer par</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Défault</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Prix</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Nom</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">
                    <% @products_by_category.each do |product| %>
                    <!-- Product -->
                    <div class="product products_show">
                        <% if product.product_picture.attachment != nil %>
                        <div class="product_image">
                            <%= image_tag product.product_picture %>
                        </div>
                        <% end %>
                        <div class="product_extra product_new"><a href="categories.html">New</a></div>
                        <div class="product_content">
                            <div class="product_title"><a href="/product/<%=product.id%>">
                                    <%= product.product_name %></a></div>
                            <div class="product_price">
                                <%= number_to_currency(product.price, locale: :fr) %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="product_pagination">
                    <ul>
                        <li class="active"><a href="#">01.</a></li>
                        <li><a href="#">02.</a></li>
                        <li><a href="#">03.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>