<!-- Home -->
<div class="home_contact">
    <div class="home_container_contact">
        <div class="home_background_contact" style="background-image:url(<%= asset_path 'images/contact.jpg'%>)"></div>
        <div class="home_content_container_contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content_contact">
                            <div class="breadcrumbs_contact">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li>Liste des produits</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Basic Sorting -->
                <div class="sorting_bar" id="coucouici">
                    <% if @products.length > 1 %>
                        <div class="results"><span><%= @products.length %></span> résultats</div>
                    <% else %>
                        <div class="results"><span><%= @products.length %></span> résultat</div>
                    <% end %>
                    <div class="all_filters">
                    <div class="sorting_container first_filter">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">
                                            <%= phone_brand_name(params[:filter_by_brand]) %>
                                    </span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <% @brands.each do |brand| %>
                                            <% if (params[:filter_by_brand]).to_i == brand.id %>
                                                <li class="product_sorting_btn current_filter">
                                            <% else %>
                                                <li class="product_sorting_btn">
                                            <% end %>
                                                    <span><%= link_to brand.brand, filtered_products_path(filter_by_brand: brand.id, scope: params[:scope]) %></span>
                                                </li>
                                        <% end %>
                                        <li class="product_sorting_btn">
                                            <span><%= link_to "Toutes les marques", filtered_products_path(filter_by_brand: "all", scope: params[:scope]) %></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sorting_container">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">
                                        <%= filter_by_display(params[:scope]) %>
                                    </span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <% if (params[:scope]).to_s == "recent" %>
                                            <li class="product_sorting_btn current_filter">
                                        <% else %>
                                            <li class="product_sorting_btn">
                                        <% end %>
                                                <span><%=link_to "Date de sortie", filtered_products_path(filter_by_brand: params[:filter_by_brand], scope: "recent") %></span>
                                            </li>
                                        <% if params[:scope] =="asc_price" %>
                                            <li class="product_sorting_btn current_filter">
                                        <% else %>
                                            <li class="product_sorting_btn">
                                        <% end %>
                                                <span><%=link_to "Prix croissant", filtered_products_path(filter_by_brand: params[:filter_by_brand], scope: "asc_price") %></span>
                                            </li>
                                        <% if params[:scope] =="desc_price" %>
                                            <li class="product_sorting_btn current_filter">
                                        <% else %>
                                            <li class="product_sorting_btn">
                                        <% end %>
                                                <span><%=link_to "Prix décroissant", filtered_products_path(filter_by_brand: params[:filter_by_brand], scope: "desc_price") %></span>
                                            </li>
                                            <!-- <li class="product_sorting_btn">
                                                <span>
                                                    <%=link_to "Nom", filtered_products_path(filter_brand_id: params[:filter_brand_id], scope: "name") %>
                                                </span>
                                            </li> -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">

                <div class="product_grid">
                    <% @products.each do |product| %>
                    <!-- Product -->
                    <div class="product products_show">
                        <% if product.product_picture.attachment != nil %>
                            <div class="product_image">
                            <%= image_tag product.product_picture %>
                            </div>
                        <% end %>
                        <% if product.status == "sales" %>
                            <div class="product_extra product_sale"><a href="categories.html">-<%= product.discount %>%</a></div>
                        <% elsif product.status == "hot" %>
                            <div class="product_extra product_hot"><a href="categories.html">Hot</a></div>
                        <% end %>
                        <div class="product_content">
                            <div class="product_title"><a href="/product/<%=product.id%>"><%= product.product_name %></a></div>
                            <div class="product_price"><%= number_to_currency(product.price, locale: :fr) %></div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="product_pagination">
                    <ul>
                        <li class="active"><a href="#">01.</a></li>
                        <li><a href="#">02.</a></li>
                        <li><a href="#">03.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>