<div class="row cart_items_row">

    <div class="cart_item">
      <!-- Name -->

        <div class="cart_item_image big_cart col-xl-3 col-sm-4">
          <div><%= attachement_or_picture(line_item.product) %></div>
        </div>
        <div class="cart_details col-sm-8 col-xl-9">

        <div class="cart_item_name_container col-xl-5 col-sm-9">
          <div class="cart_item_name"><a href="/product/<%=line_item.product.id%>"><%= line_item.product.product_name %> -
              <%= line_item.product.phone_brand.brand %> - <%= line_item.product.phone_model.model %></a></div>
        </div>
      <!-- Price -->
      <div class="cart_item_price col-xl-3 col-sm-6"><%= product_status(line_item.product) %></div>
      <!-- Quantity -->
      <div class="cart_item_quantity col-xl-2 col-sm-6">
                        <!-- Product Quantity -->
                        <div class="product_quantity_container">
                          <%= form_for(line_item, url: line_item_path(id: line_item.id), :remote => true) do |f| %>
                          <div class="select_quantity_container_admin">
                            <p>Quantité</p>
                            <%= f.number_field(:quantity, step: 1, :onchange=>"update_quantity_line_item(#{line_item.id});") %>
                          </div>
                          <%= f.hidden_field :cart_id, :value => @cart.id %>
                          <div id="quantity_updated-<%=line_item.id%>">

                          </div>
                          <% end %>
                        </div>
      </div>

      <div class="cart_item_delete col-xl-2 col-sm-3">
        <div class="cross_button cart_button">
          <span>
            <%= link_to line_item, method: :delete do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
          </span>
        </div>
      </div>
      </div>

    </div>

</div>