<!DOCTYPE html>
<html>
  <head>
    <title>ScreenShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
     <%= tag :meta, name: "stripe-public-key", content: Rails.application.credentials.dig(:stripe, :publishable_key) %>

  </head>
  <body>
  <div class="super_container">
    <%= render "layouts/header" %>
      <% flash.each do |message_type, message| %>
      <div class="alert <%= message_type %> flash_messages">
        <%= message %>
      </div>
      <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  
  </div>
  </body>

</html>
